@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
  
}

body{
  background-color: aquamarine;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(59, 208, 231);
  border-radius: 0px;
  cursor: pointer;
 
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(231, 128, 128);
    border-radius: 1px;
}